<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${board == null ? '오류겐' : board.getText()}">종율인사이드</title>
    <script defer th:if="${board == null}">
        alert('존재하지 않는 게시판입니다. 주소를 다시 확인해 주세요.'); // 클라이언트 실행
        if (history.length <= 1) {
            // 뒤로가기 할 페이지가 없는 상황
            window.close(); // 탭닫기
        } else {
            history.back(); // 뒤로가기
        }
    </script>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/board/assets/styles/list.css">
</head>
<body th:if="${board != null}">
<main id="main">
    <h1 class="title" th:text="${board.getText()}"></h1> <!--서버에서 실행됨-->
    <table class="article-table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th class="spring" scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td th:text="${article.getIndex}"></td>
            <td>
                <a th:text="${article.getTitle()}" th:href="@{'/article/read' (index=${article.getIndex()})}"></a>
                <b>[<span th:text="${article.getCommentCount()}"></span>]</b>
            </td>
            <td th:text="${article.getNickname()}"></td>
            <td th:text="${article.getView()}"></td>
            <td th:text="${#temporals.format(article.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></td>
        </tr>


        </tbody>
    </table>
    <div class="move">
        <a th:if="${pageVo.requestPage > pageVo.movableMinPage}"
           th:href="@{'/board/list' (id=${board.getId()}, page=${pageVo.movableMinPage}, filter=${filter}, keyword=${keyword})}" class="page first">|&lt;</a>
        <a th:if="${pageVo.requestPage > pageVo.movableMinPage}"
           th:href="@{'/board/list' (id=${board.getId()}, page=${pageVo.requestPage - 1}, filter=${filter}, keyword=${keyword})}" class="page prev">&lt;</a>
        <div class="page-container">
            <a class="page"
               th:each="page : ${#numbers.sequence(pageVo.displayMinPage, pageVo.displayMaxPage)}"
               th:text="${page}"
               th:href="@{'/board/list' (id=${board.getId()}, page=${page}, filter=${filter}, keyword=${keyword} )}"
               th:classappend="${page == pageVo.requestPage} ? 'selected'"></a>

        </div>
        <a th:if="${pageVo.requestPage < pageVo.movableMaxPage}"
                th:href="@{'/board/list' (id=${board.getId()}, page=${pageVo.requestPage + 1}, filter=${filter}, keyword=${keyword})}" class="page next">&gt;</a>
        <a th:if="${pageVo.requestPage < pageVo.movableMaxPage}"
                th:href="@{'/board/list' (id=${board.getId()}, page=${pageVo.displayMaxPage}, filter=${filter}, keyword=${keyword})}" class="page last">&gt;|</a>

    </div>
    <div class="button-container">
        <div class="spring"></div>
        <a th:href="@{'/article/write' (boardId=${board.getId()})}" class="button write --obj-button -blue">작성</a>
    </div>

    <form class="search-form">
        <input name="id" type="hidden" th:value="${board.getId()}">
        <label class="label">
            <select name="filter" class="field">
                <option selected value="all" th:selected="${filter != null && filter.equals('all')}">제목 + 내용</option>
                <option value="title" th:selected="${filter != null && filter.equals('title')}">제목</option>
                <option value="nickname" th:selected="${filter != null && filter.equals('nickname')}">닉네임</option>
            </select>
        </label>
        <label class="label">
            <input class="field" maxlength="10" minlength="0" name="keyword" type="text" th:value="${keyword}">
        </label>
        <button class="--obj-button -blue" type="submit">검색</button>
    </form>
</main>


</body>
</html>